<head>
	<title>{{titleSite}}</title>
	<link rel="stylesheet" href="../css/admin.css">
</head>
<body>
	<h1>{{titlePage}}</h1>
	<p>{{thiscar.color}}</p>
	<p>{{thiscar.brand}}</p>
	<p>{{thiscar.place}}</p>
	<p>{{thiscar.town}}</p>
	<p>{{thiscar.price}}
	<img src="{{thiscar.image}}">
</body>
